.mc-tellraw {
    padding: 20px 10px;
    min-width: 950px;
    min-height: 680px;
    background-color: #fff;
    box-shadow: #999 0 0 8px;
    &-view {
        margin-bottom: 10px;
    }
    &-right {
        margin-left: 350px;
        &-bar {
            .group {
                margin-bottom: 10px;
            }
            &-color {
                position: relative;
                float: left;
                margin-left: 10px;
                .pane {
                    float: left;
                    margin-top: 4px;
                }
                .label {
                    float: left;
                    margin-top: 4px;
                }
            }
        }
    }
}